# Ignore all .log files
*.log

# Ignore node_modules directory
node_modules/
logs/
venv/
__pycache__/

# Ignore environment variable files
.env

# Ignore temporary files
*.tmp
*.swp
*.sh

# Ignore OS-specific files
.DS_Store
Thumbs.db
persistencia_arxiu
index.json
recoleccio_usuaris.py
Original_main_bot.py
csv_test.py
populate_historical_data.py

# Ignore build output
dist/
build/